<% action = sub.persisted? ? sub_url(sub) : subs_url %>
<% method = sub.persisted? ? "patch" : "post" %>
<% message = sub.persisted? ? "Update the darn thing" : "Create the darn thing"%>


<form  action="<%= action %>" method="post">
  
  <input type="hidden" name="_method" value="<%= method %>">


  <label>
    Title:
    <input type="text" name="sub[title]" value="<%= sub.title if sub %>">
  </label>

  <label>
    Description:
    <input type="text" name="sub[description]" value="<%= sub.description if sub %>">
  </label>

  <input type="submit" value="<%= message %>">
</form>
